<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.monroe.team.smooker.app" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="org.monroe.team.smooker.app.SmookerApplication"
        android:allowBackup="true"
        android:icon="@drawable/smooker_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.monroe.team.smooker.app.DashboardActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.monroe.team.smooker.app.WizardActivity"
            android:label="@string/a_wizard_title" >
        </activity>

        <service
            android:name="org.monroe.team.smooker.app.RemoteControlNotificationService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name="org.monroe.team.smooker.app.RemoteControlNotificationReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <receiver
            android:name="org.monroe.team.smooker.app.SmokeQuitNotificationClosedReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <receiver
            android:name="org.monroe.team.smooker.app.DeviceBootBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SystemAlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="org.monroe.team.smooker.app.CalendarWidget"
            android:label="Quit smoke calendar" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.monroe.team.smooker.app.event.QUIT_SCHEDULE_UPDATED" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.monroe.team.smooker.app.event.QUIT_SCHEDULE_REFRESH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.monroe.team.smooker.app.event.SMOKE_COUNT_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_widget_info" />
        </receiver>
        <receiver
            android:name="org.monroe.team.smooker.app.SmokeCounterWidget"
            android:label="Today smokes" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.monroe.team.smooker.app.event.SMOKE_COUNT_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/smoke_counter_widget_info" />
        </receiver>
        <receiver
            android:name=".SmokeSchedulerReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.monroe.team.smooker.app.event.QUIT_SCHEDULE_UPDATED" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.monroe.team.smooker.app.event.SMOKE_COUNT_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
