<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.monroe.team.smooker.app" >

    <application
        android:name="org.monroe.team.smooker.app.SmookerApplication"
        android:allowBackup="true"
        android:icon="@drawable/smooker_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.monroe.team.smooker.app.DashboardActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.monroe.team.smooker.app.WizardActivity"
            android:label="@string/title_activity_wizzard"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".RemoteControlNotificationService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".RemoteControlNotificationReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
    </application>

</manifest>
