<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.monroe.team.smooker.app" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.monroe.team.smooker.app.android.SmookerApplication"
        android:allowBackup="true"
        android:icon="@drawable/smooker_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.monroe.team.smooker.app.android.DashboardActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.SmokeBreakActivity"
            android:label="@string/title_activity_smoke_break"
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name="org.monroe.team.smooker.app.android.WizardActivity"
            android:label="@string/a_wizard_title" >
        </activity>

        <service
            android:name="org.monroe.team.smooker.app.android.service.StickyNotificationService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name="org.monroe.team.smooker.app.actors.ActorDevice"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.monroe.team.smooker.app.actors.ActorSystemAlarm"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="org.monroe.team.smooker.app.android.widget.SmokeCounterWidget"
            android:label="Today smokes" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.monroe.team.android.box.event.SMOKE_COUNT_CHANGED" />
            </intent-filter>

            <intent-filter>
                <action android:name="org.monroe.team.android.box.event.QUIT_SCHEDULE_UPDATED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/smoke_counter_widget_info" />
        </receiver>
        <receiver
            android:name="org.monroe.team.smooker.app.actors.ActorSmoker"
            android:enabled="true" android:exported="true" >
        </receiver>


    </application>

</manifest>
